{% extends 'base.html' %}
{% block content %}
<form action="{% url 'processconfig:index' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text">Project Name</span>
            <input type="text" class="form-control" name="project_name" id="project_name">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Flow name</span>
            <input type="text" class="form-control" name="flow_name">
        </div>
        <div class="mb-3">
            <label for="sas_program" class="form-label">Multiple files input example</label>
            <input class="form-control" type="file" name="sas_program" id="sas_program" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Add files</button>
</form>
{% endblock content %}