{% extends 'base.html' %}
{% block content %}
    <form action="#" enctype="multipart/form-data">{% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Project Name</span>
            <input type="text" class="form-control" value="{{ project.project_name }}">
        </div>
    </form>
    {% for i in flows %}
        <form action="{% url 'processconfig:update_flow' i.id %}" enctype="multipart/form-data" method="POST">{% csrf_token %}
            <div class="mb-3">
                <label for="sas_program" class="form-label">Multiple files input example</label>
                <input class="form-control" type="file" name="sas_program" id="sas_program" multiple>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% if i.sas_programs.all|length > 0 %}
            <table class="table table-hover" id="flow_table{{ i.id }}">
              <thead>
                <tr>
                  <th scope="col">Order #</th>
                  <th scope="col">File Name</th>
                  <th scope="col">.</th>
                </tr>
              </thead>
                <tbody>
                {% for file in i.sas_programs.all %}
                    <tr>
                      <th scope="row">{{ file.order_number }}</th>
                      <td>{{ file.sas_program_name }}</td>
                      <td><a class="btn btn-delete btn-danger">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
    <form action="{% url 'processconfig:create_flow' pk %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="mb-3">
            <label for="sas_program" class="form-label">Multiple files input example</label>
            <input class="form-control" type="file" name="sas_program" id="sas_program" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}